<tbody>
  <% if true %>
    <% $checkout = 0 %>
    <% cart.each do |cat| %>
      <div class="cart-item-container" style="height:250px">
        <div class="cart-item-img">
          <h3><%= cat.name %></h3>
          <img class="card-img-top" src="<%= cat.image_link %>" alt="Card image" >
        </div>
        <div class="cart-item">
          <h3><%= number_to_currency(cat.price) %></h3>

          <%= button_to cart_path(cat), :class=>'remove-from', method: :delete do %>Remove<% end %>
        </div>
        <% $checkout += cat.price %>
      </div>
    <% end %>

    <div class="checkout">
      <h3>Total: <%= number_to_currency($checkout) %></h3>
    </div>
    <div class="checkout">
      <button>Checkout</button>
    </div>

  <% end %>
</tbody>
