
    <div class="login-div">
      <% if user_signed_in? %>
        <p><%= current_user['email'].truncate(50, separator: /\s/) %></p>
        <%= link_to_if(current_user.nil?, "Login", sign_in_path, class: 'btn btn-primary m-5') do
            link_to(image_tag("/assets/logout.png", style: "width:35px;", alt: "logout image"),  destroy_user_session_path, :method => 'delete', class: 'logout-a')
          end
        %>
      <% else %>
        <a href="<%= user_session_path %>" class="login-a">Log in</a>
      <% end %>
  </div>

    <%=paginate @dogs, window: 2, outer_window: 3, clsss:'has-text-black' %>

      <% if false %>
        <div class="container_dog flex-container">
          <% @dogs.each do |dog| %>
            <div class="card" style="width:300px">
              <h2 class="card-title"><%= dog.name %></h2>
              <img class="card-img-top" src="<%= dog.image_link %>" alt="Card image" />
              <div class="card-body">
                <h3 class="card-text">Age： <%= dog.age %></h3>
                <h3 class="card-text">Price： <%= number_to_currency(dog.price) %></h3>
                <h3 class="card-text"><%= dog.description.truncate(57, separator: /\s/) %></h3>
              </div>
              <div class="detail-button-div">
                <a class="detail-button-a" href="<%= dog_path(dog) %>" role="button">Details</a>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    <div class="container flex-container">
      <% $animal_type = controller_name %>
      <%= render @dogs %>
    </div>

