
<div class="container">
  <div class="image">
    <img class="card-img-top" src=<%= bird_path.gsub("s/","_")+".jpg" %> alt="Card image" width="500" height="600" />
  </div>
  <div class="text">
      <h2>Name:<%= @bird.name %></h2>
      <h3>Age:<%= @bird.age %></h3>
      <h3>Price： <%= number_to_currency(@bird.price) %></h3>
      <h3>Common name: <%= @bird.common_family_name %></h3>
      <h3>Geo: <%= @bird.geo %></h3>
      <% if true %>
        <h3>Adjective: <%= @bird.adjective %></h3>
        <h3>E Adjective: <%= @bird.emotional_adjective %></h3>
        <h3>S Adjective: <%= @bird.silly_adjective %></h3>
      <% end %>

      <h3>Color: <%= @bird.color %></h3>
      <h3>Description:</h3>
      <h3><%= @bird.description %></h3>


      <div class="add2remove-details-wrap">
        <% if true %>
          <% if cart[2].include?(@bird) %>
            <%= button_to cart_path(@bird), :class=>'add-to-remove-from add2remove-details', method: :delete do %>
              Remove From Cart
            <% end %>
          <% else %>
            <%= form_with  url: cart_index_path, method: :post do %>
              <%#= hidden_field_tag(:id, @bird.id) %>
              <%= button_tag 'Add to Cart', :class=>'add-to-remove-from add2remove-details' %>
            <% end %>
          <% end %>
        <% end %>
      </div>

  </div>
</div>


<%= link_to 'Back', birds_path %>
