<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bird.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @bird.age %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bird.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bird.description %>
</p>

<%= link_to 'Edit', edit_bird_path(@bird) %> |
<%= link_to 'Back', birds_path %>
