<p id="notice"><%= notice %></p>

<div class="container">
  <div class="image">
    <img src="<%= @cat.image_link %>" alt="cat" width="500px" height="600px">
  </div>
  <div class="text">
      <h2>Name:<%= @cat.name %></h2>
      <h3>Age:<%= @cat.age %></h3>
      <h3>Price:<%= number_to_currency(@cat.price) %></h3>
      <h3>Description:</h3>
      <h3><%= @cat.description %></h3>

      <div class="add2remove-details-wrap">
        <% if true %>
          <% if cart.include?(@cat) %>
            <%= button_to cart_path(@cat), :class=>'add-to-remove-from add2remove-details', method: :delete do %>
              Remove From Cart
            <% end %>
          <% else %>
            <%= form_with  url: cart_index_path, method: :post do %>
              <%= hidden_field_tag(:id, @cat.id) %>
              <%= button_tag 'Add to Cart', :class=>'add-to-remove-from add2remove-details' %>
            <% end %>
          <% end %>
        <% end %>
      </div>


  </div>
</div>





<%= link_to 'Back', cats_path %>
