<!DOCTYPE html>
<html>
  <head>
    <title>ScottOnlinePetStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <header>
    <div class="topnav" id="myTopnav">
      <a href="/welcome.html">
        <img class="myband" src="/pets_.png" alt="Card image">
      </a>
      <a class=<%= controller_name == "cats" ? "active" : "whatever"%> href="/cats">Cat</a>
      <a class=<%= controller_name == "dogs" ? "active" : "whatever"%> href="/dogs">Dog</a>
      <a class=<%= controller_name == "birds" ? "active" : "whatever"%> href="/birds">Bird</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </header>

  <body>

    <%= yield %>

    <div class="footer">
      ©<%=Time.new.year %> Red River College Polytechnic
    </div>


  <script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
  </body>
</html>
